.search__results__list{
    margin-top:180px;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 60%;
}

.result{
    margin-top:25px;
}


@media screen and (max-width:900px){
    .search__results__list{
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }
}